body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container{
    background-color: #B4B4B8;
    height: 100vmax;
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.right{
    position: relative;
    display: flex;
    align-items: first baseline;
    flex-direction: column;
    float: right;
    overflow: hidden;

}

.right > .labelbtn > label{
    color: darkgreen;
    font-weight: bold;
    margin-top: 15px;
    background-color: #B4B4B8;
    text-indent: 4px;
}

.message-error
{
    color: red;
    font-size: 10px;
    margin-left: 20px;
}

.inputFields{
    width: 350px;
    height: 40px;
    color: darkgreen;
    font-weight: bold;
    margin: 15px;
    box-shadow:  0px 2px 5px 0px;
    border: 2px solid blue;
    border-radius: 6px;
    background-color: #B4B4B8;
    text-indent: 4px;
}

.genderSelect{
    width: 350px;
    height: 40px;
    color: darkgreen;
    font-weight: bold;
    margin: 15px;
    box-shadow:  0px 2px 5px 0px;
    border: 2px solid blue;
    border-radius: 6px;
    background-color: #B4B4B8;
    text-indent: 4px;
}
.genderSelect > option{
    width: 350px;
    height: 40px;
    color: darkgreen;
    font-weight: bold;
    margin: 15px;
    box-shadow:  0px 2px 5px 0px;
    border: 2px solid blue;
    border-radius: 6px;
    background-color: #B4B4B8;
    text-indent: 4px;
}

.AddressBox{
    width: 350px;
    height: 100px;
    color: darkgreen;
    font-weight: bold;
    margin: 15px;
    box-shadow:  0px 2px 5px 0px;
    border: 2px solid blue;
    border-radius: 6px;
    background-color: #B4B4B8;
    text-indent: 4px;
    padding-top: 3px;
}

.DateField{
    width: 350px;
    height: 45px;
    color: darkgreen;
    font-weight: bold;
    margin: 15px;
    box-shadow:  0px 2px 5px 0px;
    border: 2px solid blue;
    border-radius: 6px;
    background-color: #B4B4B8;
    text-indent: 3px;
    padding-left: 15px;
}

#DateField{
    color: darkgreen;
    font-weight: bold;
    border: 0px;
    background-color: #B4B4B8;
}

#Prof_Details{
    
    width: 350px;
    height: 40px;
    color: darkgreen;
    font-weight: bold;
    margin: 15px;
    box-shadow:  0px 2px 5px 0px;
    border: 2px solid blue;
    border-radius: 6px;
    background-color: #B4B4B8;
    text-indent: 4px;
}

#Experience{
    width: 350px;
    height: 100px;
    color: darkgreen;
    font-weight: bold;
    margin: 15px;
    box-shadow:  0px 2px 5px 0px;
    border: 2px solid blue;
    border-radius: 6px;
    background-color: #B4B4B8;
    text-indent: 4px;
    padding-top: 3px;
}

.labelbtn{
    color: darkgreen;
    font-weight: bold;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: first baseline;
    
}
.plusButton{
    position: relative;
    border-radius: 360px;
    width: fit-content;
    height: fit-content;
    border: 0px;
    float: right;
    background-color: #96C9F4;
    margin-left: 150px;
}
.plusButton > img{
    height: 30px;
    width: 30px;
}

.submitButton{
    width: 100px;
    height: 40px;
    margin: 15px;
    box-shadow:  0px 2px 5px 0px;
    background-color: #3FA2F6;
    border-radius: 6px;
    /* color: #C7C8CC; */
    font-weight: bold;
    text-indent: 4px;
    cursor: pointer;
}

.submitButton:hover{
    background-color: #4B70F5;
}

#validationError{
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

